@import "tailwindcss";

body{
    @apply bg-[#F4F3EE];
    @apply dark:bg-[#463F3A];
}

@theme{
    --color-lightestcolor: #F4F3EE;
    --color-lightcolor: #BCB8B1;
    --color-darkcolor: #8A817C;
    --color-darkestcolor: #463F3A;
    --color-accentcolor: #E0AFA0;
}